@model IEnumerable<EMRS.Models.ListMedicalRecordModel>

@{
    ViewBag.Title = "Medical Record";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>
    @Html.ActionLink("Show All", "Index")
    @using (Html.BeginForm("Index", "Medical", FormMethod.Get))
    {    
         <p> Name: @Html.TextBox("SearchString")
         <input type="submit" value="Search" /></p>
    }
</p>
<table>
    <tr>
        @if (User.IsInRole("AttendingPhysician"))
        {
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
        }
        @if (User.IsInRole("Patient"))
        {
        <th>
            @Html.DisplayNameFor(model => model.PhysicianName)
        </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnderTreatment)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        @if (User.IsInRole("AttendingPhysician"))
        {
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        }
        @if (User.IsInRole("Patient"))
        {
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianName)
        </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnderTreatment)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.MedicalRecordID })
        </td>
    </tr>
}

</table>
