@model EMRS.Models.Department

@{
    ViewBag.Title = "Department Details";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DepartmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
